* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(0, 128, 96);
}
h1 {
    background: linear-gradient(180deg, rgb(112, 131, 3), rgb(0, 128, 96));
    font-family: cursive;
    text-align: center;
    color: rgb(107, 0, 128);
    padding: 1em;
}
.intro {
    border: 2px solid white;
    background-color: rgb(29, 0, 4);
    border-radius: 10px;
    font-family: dosis, sans-serif;
    font-size: 150%;
    text-align: center;
    color: rgb(162, 202, 116);
    padding: 1em;
    width: 65%;
    margin: 1em auto;
}
#questions-container {
    background-color: rgb(7, 3, 20);
    border-radius: 20px;
    width: 65%;
    padding: 2em 3em;
    margin: 1em auto;
}
.questions > h3 {
    text-align: center;
    font-family: sans-serif;
    color: #777;
    padding: 1em;
}
.answers {
    background-color: #777;
    color: rgb(29, 0, 4);
    font-weight: 600;
    border-radius: 10px;
    font-family: kameron;
    padding: 1em;
    margin: 5px 50px;
    text-align: center;
}
.answers:hover:not(.selected) {
    background-color: #555;
}
.answers:active {
    transform: scale(.95);
}
@media (max-width: 500px) {
   .intro,
   #questions-container {
       width: 90%;
       margin: 1em auto;
       padding: 1em;
   }
   .answers {
       margin: .2em;
   }
}
.hide {
    display: none;
}
.selected {
    background-color: rgba(8, 131, 4, 0.76);
}
.buttons {
    text-align: center;
    margin: 1em;
}
#next {
    text-transform: capitalize;
    border-radius: 10px;
    font-size: 200%;
    padding: .7em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(1, 85, 134);
}
#finish {
    text-transform: capitalize;
    font-size: 200%;
    border-radius: 10px;
    padding: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(6, 112, 24);
}
.warning {
    color: red;
    font-family: monospace;
    font-weight: 600;
    background-color: #999;
    border-radius: .3em;
    padding: 1em;
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
@media (max-width: 500px) {
    .warning {
        width: 90%;
        padding: .3em;
    }
}
#result {
    border-radius: .5em;
    background: linear-gradient(180deg, yellow, red);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(3, 54, 1);
    padding: 1em;
    margin: 1em;
    text-align: center;
    font-size: 300%;
}
#result-desc {
    background-color: rgb(7, 3, 20);
    border-radius: .5em;
    width: 60%;
    padding: 1em;
    margin: 1em auto;
}
h4 {
    color: red;
    font-family: tangerine, cursive;
    font-size: 300%;
    text-align: center;
    margin-bottom: 10px;
}
.desc {
    color: yellow;
    font-family: dosis, sans-serif;
    font-size: 140%;
    text-indent: 2em;
}
hr {
    border-color: green;
    margin: 10px auto;
    width: 50%;

}
@media (max-width: 500px) {
    #result,
    #result-desc {
        width: 90%;
        margin: .5em auto;
        padding: .2em;
    }
    .desc {
        text-indent: .5em;
    }
}
